// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;600;700&display=swap');

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  font-family : Pretendard;
  font-weight : 300;
  // font-family : Noto Sans KR;
}
html {
  scroll-behavior: smooth; 
}

// colors
$my-color : rgb(218, 139, 255);

// sizes